<style>
.container{width:100%;margin:auto;}
@media(min-width:600px){.container{width:80%;}}
@media(min-width:768px){.container{width:60%;}}
@media(min-width:1024px){.container{width:50%;}}
</style>

<div class="container">
<h1>Welcome to Singapore,NTU<h1>
<p><img src="https://th.bing.com/th/id/R.85fadd0af0f371a69f556a764ca89dcc?rik=c7bBkS5UnJvYMQ&riu=http%3a%2f%2fbeetify.com%2fphoto%2fb%2f1576202863_2dda0431_6.jpg&ehk=iIahvrfWLubEJq%2fL%2bjFJrTySioOk7gKwwrGwUXcoPRY%3d&risl=&pid=ImgRaw&r=0"
width="300" height="200"></p>
<form action="/main" method="post">
<h2>My name is Ah Bao,may I know your name:</h2>
  <input type ="text" name="r" style="width:100px;height:50px">
    <p><input type ="submit" value="Enter" style="width:100px;height:50px"></p>
</form>
</div>
