<style>
    .container{width:100%;margin:auto}
    @media (min-width:600px) {.container{width: 80%;}}
    @media (min-width:768px) {.container{width: 60%;}}
    @media (min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
<h1>NTU is a prestigious public research university in Singapore. Established in 1991, NTU has quickly risen to become one of the top universities globally. It is known for its strong emphasis on science and technology education, engineering, business, humanities, arts, social sciences, and medicine.</h1>

<h2>NTU is consistently ranked among the top universities worldwide and is particularly noted for its engineering and technology programs. The university's campus is located in the western part of Singapore and is known for its modern facilities and innovative research centers.</h2>

<h3>NTU offers undergraduate, graduate, and doctoral programs across various disciplines and has collaborations with leading universities and research institutions worldwide. It is also actively involved in research and innovation, contributing to advancements in various fields.</h3>
<form action="/back" method="post">
    <input type = "submit" value="Back" style="width:200px;height:100px;">
</form>
</div>
