<style>
    .container{width:100%;margin:auto}
    @media (min-width:600px) {.container{width: 80%;}}
    @media (min-width:768px) {.container{width: 60%;}}
    @media (min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
    <h1>Here is a NTU map link for students to use </h1>
    <h2>You can enter this link to use it</h2>
    <p><img src="https://pic3.zhimg.com/v2-1312b4733a93ccda1559c675d0c9b662_b.jpg"
        width="300" height="200"></p>
        <form action="/back" method="post">
            <input type = "submit" value="Back" style="width:200px;height:100px;">
        </form>
    </div>
    
