<style>
    .container{width:100%;margin:auto}
    @media (min-width:600px) {.container{width: 80%;}}
    @media (min-width:768px) {.container{width: 60%;}}
    @media (min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
<h1>Yunnan Garden->Chinese Heritage Centre->The Hive NTU->Lee Wee Nam Library->School Of Art, Design and Media</h1>
<h2>No.1 Yunnan Garden</h2>
<p><img src="https://lh5.googleusercontent.com/p/AF1QipMX8LAOnM0Q4zbfaStN45bkhxPNK0BTm2EFWTGJ=w408-h306-k-no"
    width="300" height="200"></p>
    <h3>Location:12 Nanyang Dr, Singapore 637721</h3>
<h4>No.2 Chinese Heritage Centre</h4>
<p><img src="https://www.google.com/maps/place/%E5%8D%8E%E8%A3%94%E9%A6%86/@1.3438247,103.6840795,3a,75y,90t/data=!3m8!1e2!3m6!1sAF1QipMxul7XHpjcxwzYb3VXvCVxr1-OSjzQtvNvcn6W!2e10!3e12!6shttps:%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipMxul7XHpjcxwzYb3VXvCVxr1-OSjzQtvNvcn6W%3Dw114-h86-k-no!7i4032!8i3024!4m11!1m2!2m1!1z5bu65qCh57qq5b-156KR!3m7!1s0x31da0f9fb5541ac3:0xa6b9a97b5786b73d!8m2!3d1.3438247!4d103.6840795!10e5!15sCg_lu7rmoKHnuqrlv7XnopGSAQ9oZXJpdGFnZV9tdXNldW3gAQA!16s%2Fg%2F1tf6p96b?entry=ttu#"
    width="300" height="200"></p>
    <h5>Location:46 Nanyang Ave, Singapore 639817</h5>
<h6>No.3 The Hive NTU</h6>
<p><img src="https://lh5.googleusercontent.com/p/AF1QipNIgegvn5tC4IIlSt1rmAAjJ7EHffCtUObTSJRN=w408-h306-k-no"
    width="300" height="200"></p>
    <h7>Location:52 Nanyang Ave, Singapore 639816</h7>
<h8>No.5 Lee Wee Nam Library</h8>
<p><img src="https://www.google.com/maps/place/%E6%9D%8E%E4%BC%9F%E5%8D%97%E5%9B%BE%E4%B9%A6%E9%A6%86/@1.3475116,103.6809076,3a,75y,90t/data=!3m8!1e2!3m6!1sAF1QipOZHSMHRtmM77vDb_4gJDEQ8uSTL4mS7vbMle0a!2e10!3e12!6shttps:%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipOZHSMHRtmM77vDb_4gJDEQ8uSTL4mS7vbMle0a%3Dw114-h86-k-no!7i4032!8i3024!4m11!1m2!2m1!1sLee+Wee+Nam+Library!3m7!1s0x31da0f750d7e4f1f:0xcca727b038a0d0a!8m2!3d1.3475116!4d103.6809076!10e5!15sChNMZWUgV2VlIE5hbSBMaWJyYXJ5kgESdW5pdmVyc2l0eV9saWJyYXJ54AEA!16s%2Fg%2F1vcl18m_?entry=ttu#"
    width="300" height="200"></p>
    <h9>Location:50 Nanyang Avenue, Blk NS3-03-01, 639798</h9>
<h10>No.6 School Of Art, Design and Media</h10>
<p><img src="https://www.google.com/maps/place/%E8%89%BA%E6%9C%AF%E3%80%81%E8%AE%BE%E8%AE%A1%E4%B8%8E%E5%AA%92%E4%BD%93%E5%AD%A6%E9%99%A2/@1.3498168,103.6839367,3a,75y,90t/data=!3m8!1e2!3m6!1sAF1QipPyiO7zRRTROe6nShQZUTfkPyVZDOI3Rz8oKNuL!2e10!3e12!6shttps:%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipPyiO7zRRTROe6nShQZUTfkPyVZDOI3Rz8oKNuL%3Dw203-h114-k-no!7i4032!8i2269!4m10!1m2!2m1!1sLee+Wee+Nam+Library!3m6!1s0x31da0fa08d29a1c9:0xc990ff7a3f2049bd!8m2!3d1.3498168!4d103.6839367!10e5!16s%2Fg%2F1trsvj8v?entry=ttu#"
    width="300" height="200"></p>
    <h11>Location:81 Nanyang Dr, Singapore 637458</h11>
<form action="/back" method="post">
        <input type = "submit" value="Back" style="width:200px;height:100px;">
    </form>
</div>

